modules/finance/adapters/zig-api/migrations/*.sql text eol=lf
apps/desktop/*.js text eol=lf
apps/desktop/*.json text eol=lf
apps/desktop/*.ts text eol=lf
apps/desktop/*.tsx text eol=lf
apps/desktop/*.css text eol=lf
apps/desktop/*.html text eol=lf
apps/desktop/src/**/*.ts text eol=lf
apps/desktop/src/**/*.tsx text eol=lf
apps/desktop/src/**/*.css text eol=lf
apps/desktop/src-tauri/*.json text eol=lf
apps/desktop/src-tauri/capabilities/*.json text eol=lf
